.landing {
    font-weight: 200;
    h2 {
        font-size: 5rem;
        display: block;
        text-align: center;
        color: black;
        padding: 0px 20px;
    }
}
.welcome {
    width: 100vw;
    height: 100vh;
    background-image: url('./hero1.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.welcome-text {
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
        font-size: 2rem;
    }
    h1 {
        font-size: 5rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 3.5rem;
    }
    a {
        font-size: 2rem;
    }
}


.how-to section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p {
        font-size: 1.8rem;
        color: black;
    }
}

.how-to-text, .how-to-image {
    flex-basis: 48%;
}

.how-to-image {
    max-height: 500px;
    object-fit: contain;
    width: 48%;
}

.buttons {
    width: auto;
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

.landing-button {
    display: block;
    border: none;
    margin: 5px;
    background: green;
    color: white;
    padding: 10px 0px;
    font-weight: 200;
    width: 150px;
    font-size: 1.8rem;

    &:hover {
        background-color: darkgreen;
    }
}

.try-now {
    padding: 70px 0;

    .landing-button {
        margin: 30px auto;
    }
}

