.landing {
    button, a {
        font-size: 2rem;
        width: 200px;
        box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
        display: block;
    }
}

.welcome {
    width: 100%;
    height: 100vh;
    max-width: 1500px;
    background-image: url('./hero.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.welcome-text {
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
        font-size: 3rem;
    }
    h1 {
        font-size: 7rem;
        font-weight: 500;
    }
    h3 {
        font-size: 3.5rem;
    }
}


.how-to section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p {
        font-size: 1.8rem;
        color: black;
    }
}

.how-to-text, .how-to-image {
    flex-basis: 48%;
}

.iphone {
    object-fit: contain;
   max-height: 500px;
}

.try-now {
    padding: 70px 0;
    h3 {
        font-size: 5rem;
        display: block;
        text-align: center;
    }
}

